root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,razor}]
indent_style = tab
indent_size = 4
tab_width = 4

# C# formatting rules
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

# Namespace preferences
csharp_style_namespace_declarations = file_scoped:suggestion
